* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; }

.header-section-one-container {
	width: 100%;
	height: 450px;
}

.background-img {
	background-image: url("../media/Background.jpg");
	background-size: cover;
	content:"";
	opacity: .7;
	height: 450px;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.section-one {
	width: 50%;
	float: left;
}

.section-one-right {
	width: 50%;
	float: right;
}

.section-one-container-upper-pic{
	width: 20ch;
  	height: auto;
  	margin: 2rem auto 2rem auto;
  	border-radius: 50%;
}

.container-picture {
	margin-left: 20px;
    margin-top: 30px;
    text-align: right;
    padding-right: 20%;
}

.about-me-info-main {
	font-weight: bold;
    font-size: 40px;
    font-family: 'Open Sans';
    color: #303030;
    margin-top: 50px;
    padding: 30px 200px 0px 0px;
}

.section-two {
	display: block;
	clear: both;
}

.section-two-title{
	display: none;
}

.section-two-container-left {
	width: calc(100%/3);
	height: 450px;
	float: left;
	text-align: center;
}
.section-two-container-middle {
	width: calc(100%/3);
	height: 450px;
	float: left;
	text-align: center;
}

.section-two-container-right {
	width: calc(100%/3);
	height: 450px;
	float: right;
	text-align: center;
}


.background-img-project1 {
	background-image: url("../media/Project1.png");
	background-size: cover;
	content:"";
	opacity: .35;
	height: 450px;
	width: calc(100%/3);
	position: absolute;
	z-index: -1;
}

.background-img-project2 {
	background-image: url("../media/Project2.png");
	background-size: cover;
	background-position: center;
	content:"";
	opacity: .35;
	height: 450px;
	width: calc(100%/3);
	position: absolute;
	z-index: -1;
}

.background-img-project3 {
	background-image: url("../media/Project3.png");
	background-size: cover;
	content:"";
	opacity: .35;
	height: 450px;
	width: calc(100%/3);
	position: absolute;
	z-index: -1;
}

.project-title {
	font-weight: bold;
    font-size: 40px;
    font-family: 'Open Sans';
    text-decoration: none;
    color: #303030;
    margin-top: 50px;
    text-transform: uppercase;
}

.project-description {
	font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans';
    text-decoration: none;
    color: #303030;
    margin-top: 60px;
}

.project-link-container {
	content:"";
    width: calc(100%/3);
    height: 450px;
    text-decoration: none;
    z-index: 1;
    background-color: #404040;
    opacity: .2;
    position: absolute;
}

.project-link {
	text-decoration: none;
  	padding: 0;
  	font-size: 0;
  	display: block;
  	box-sizing: border-box;
  	width: 100%;
  	height: 100%;
}

.section-three {
	clear: both;
	width: 100%;
	height: 450px;
	background-color: #404040; 
}

.section-three-title {
	display: none;
}

.section-three-container {
	text-align: center;
	height: 450px;
}

.contact-me-title {
	margin-top: 5%;
	padding-top: 30px;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: bold;
	color: white;
}

.contact-form {
	max-width: 35ch;
	display: block;
	margin: 30px auto;
}

.contact-me-contactName {
	display: block;
    font-size: 1rem;
    margin: 0 auto 1rem auto;
    padding: .25rem .25rem;
    width: 100%;
}

.contact-me-contactEmail {
    display: block;
    font-size: 1rem;
    margin: 0 auto 1rem auto;
    padding: .25rem .25rem;
    width: 100%;
}

.contact-me-contactMessage {
	display: block;
    font-size: 1rem;
    margin: 0 auto 1rem auto;
    padding: .25rem .25rem;
    width: 100%;
}

.contact-me-send {
    border: 2px solid #efefef;
    display: block;
    padding: 1rem 2rem;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    background: transparent;
    color: #efefef;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    text-transform: uppercase;
    font-variant: small-caps;
}

.section-four {
	background-color: #404040;
	height: 150px;
}

.media-links {
	list-style-type: none;
	text-align: center;
}

.link-list {
	display: inline;
}

.link {
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: bold;
	color: #F5F5F5;
	text-decoration: none;
	padding-left: 20px;
}

@media only screen and (max-width: 1000px){

	.about-me-info-main{
		padding-top: 0px;
	}

	.section-two-container-left, .section-two-container-middle, .section-two-container-right, .background-img-project1, .background-img-project2, .background-img-project3{
		width: 100%;
	}

	.project-link-container {
		width: 100%;
	}

	.container-picture {
		padding-top: 20px;
	}
}